backports.entry-points-selectable==1.1.0
behave==1.2.6
blessings==1.7
certifi==2021.5.30
charset-normalizer==2.0.4
codecov==2.1.12
colorama==0.4.4
coloredlogs==15.0.1
colour-runner==0.1.1
coverage==5.5
deepdiff==5.5.0
distlib==0.3.2
filelock==3.0.12
humanfriendly==9.2
idna==3.2
ordered-set==4.0.2
packaging==21.0
parse==1.19.0
parse-type==0.5.2
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
pyreadline==2.1
requests==2.26.0
rootpath==0.1.1
simplejson==3.17.5
six==1.16.0
termcolor==1.1.0
toml==0.10.2
tox==3.24.3
urllib3==1.26.6
virtualenv==20.7.2
